.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.heading {
    text-shadow: 0 1px 6px #2d2020;
    color: white;
    min-width: 740px;
}

.form {
    width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form__search,
.form__filter {
    border: 2px solid #bcbdeb73;
    border-radius: 5px;
}

.form__search:hover,
.form__search:focus-visible {
    border: 2px solid #bcbdeb;
}

.form__search[placeholder] {
    text-overflow: ellipsis;
    padding: 0 20px;
}

.form__search[placeholder]:focus::-webkit-input-placeholder {
    color: transparent
}

.form__filter{
    width: 100px;
}
.info__wrapper{
    width: 740px;
    margin: 0 auto;
}
.info {
    margin: 20px 0;
    border: 2px solid #bcbdeb73;
    border-radius: 10px;
}

.info__text{
    margin: 10px 0;
}

.info__text span {
    text-shadow: 0 1px 3px #2d2020;
}